body,
html {
    margin: 0;
    padding: 0;
    /* scrollbar-width: none; */
}

img {
    position: absolute;
    /* width: 100vw; */
    /* height: 100vh; */
    transition: filter 1s linear;
}

.blur {
    filter: blur(10px)
}

.text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    min-width: 100%;
}

#about {
    position: fixed;
    top: 10px;
    left: 30px;
    cursor: pointer;
    transition: opacity 1s ease;
}

#more {
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    transition: opacity 1s ease;
}

#projects {
    position: fixed;
    top: 50px;
    right: 40px;
    cursor: pointer;
    transition: opacity 1s ease;
}

#personal {
    position: fixed;
    top: 90px;
    right: 40px;
    cursor: pointer;
    transition: opacity 1s ease;
}

#everything {
    position: fixed;
    top: 130px;
    right: 40px;
    cursor: pointer;
    transition: opacity 1s ease;
}

#about-desc {
    position: fixed;
    top: 50px;
    left: 30px;
    transition: visibility 1s ease;
    transition: opacity 1s ease;
    cursor: default;
}

.pointer{
    position: absolute;
    height: 15px;
    width: 15px;
}

.fade-opacity {
    opacity: 0;
}

.half-fade {
    opacity: 0.5;
}