body,
html {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

img {
    position: absolute;
    transition: filter 1s linear;
}

.blur {
    filter: blur(10px)
}

.text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    min-width: 100%;
}

#about {
    position: fixed;
    top: 10px;
    left: 30px;
    cursor: pointer;
    transition: opacity 1s ease;
}

#more {
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    transition: opacity 1s ease;
}

#projects {
    visibility: hidden;
    position: fixed;
    top: 50px;
    right: 40px;
    cursor: pointer;
    transition: opacity 1s ease;
}

#personal {
    visibility: hidden;
    position: fixed;
    top: 90px;
    right: 40px;
    cursor: pointer;
    transition: opacity 1s ease;
}

#everything {
    visibility: hidden;
    position: fixed;
    top: 130px;
    right: 40px;
    cursor: pointer;
    transition: opacity 1s ease;
}

#about-desc {
    visibility: hidden;
    position: fixed;
    top: 50px;
    left: 30px;
    transition: visibility 1s ease;
    transition: opacity 1s ease;
    cursor: default;
}

.pointer-desc {
    /* visibility: hidden; */
    position: absolute;
    color: rgba(0, 0, 0, 0.712);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    width: 150px;
    height: auto;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
}

.pointer-desc-img {
    position: relative;
    align-self: center;
    padding-bottom: 10px;
}

.pointer {
    position: absolute;
    transition: filter 1s ease;
}

.circle {
    position: absolute;
    transition: transform 3s ease, opacity 3s ease;
}

.scale {
    transform: scale(10);
}

.fade-opacity {
    opacity: 0;
}

.half-fade {
    opacity: 0.5;
}

.no-click {
    pointer-events: none;
}