:root {
    --dark-gray: #363636;
    --ImageHidden: 1;
    --ImageVisible: 4;
    --PointersHidden: -1;
    --PointersVisible: 3;
    --CirclesHidden: 0;
    --CirclesVisible: 2;
    --Text: 5;
    --PointerDescHidden: 2;
    --PointerDescVisible: 5;
}

body,
html {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    user-select: none;
}

#image {
    position: absolute;
    transition: filter 1s ease;
    pointer-events: none;
}

.blur {
    filter: blur(10px)
}

.text {
    color: white;
    font-size: large;

    h3 {
        font-family: "roboto-slab", serif;
        font-weight: 400;
        font-style: normal;
    }

    h4 {
        font-family: "franklin-gothic-std", serif;
        font-weight: 400;
        font-style: normal;
    }
}

#about {
    z-index: var(--Text);
    position: fixed;
    top: 10px;
    left: 30px;
    cursor: pointer;
    transition: opacity 1s ease;
}

#more {
    z-index: var(--Text);
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    transition: opacity 1s ease;
}

#projects {
    z-index: var(--Text);
    visibility: hidden;
    position: fixed;
    top: 50px;
    right: 40px;
    cursor: pointer;
    transition: opacity 1s ease;
}

#personal {
    z-index: var(--Text);
    visibility: hidden;
    position: fixed;
    top: 90px;
    right: 40px;
    cursor: pointer;
    transition: opacity 1s ease;
}

#everything-else {
    z-index: var(--Text);
    visibility: hidden;
    position: fixed;
    top: 130px;
    right: 40px;
    cursor: pointer;
    transition: opacity 1s ease;
}

#about-desc {
    z-index: var(--Text);
    visibility: hidden;
    position: fixed;
    max-width: 30%;
    top: 50px;
    left: 30px;
    transition: opacity 1s ease;
    cursor: default;
}

#i-am-desc {
    transition: opacity 1s ease;
}

.pointer-desc {
    visibility: hidden;
    position: absolute;

    h5 {
        margin: 1.3066vh;
        color: var(--dark-gray);
        font-family: "franklin-gothic-std", sans-serif;
        font-weight: 400;
        font-size: 1.742124vh;
        line-height: 1.9608vh;
    }
    /* screen height of 765.33px === 100vh, so 15px : 1.96vh = 15/765 */

    max-width: max-content;
    min-width: 10vh;
    width: 20vh;
    height: auto;

    background-color: white;
    text-align: center;
    border-radius: 2.61325vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    transition: opacity 1s ease;
    cursor: default;
    z-index: var(--PointerDescHidden);
}

.pointer-desc-img {
    position: relative;
    align-self: center;
    padding-bottom: 1.3066vh;
}

.pointer {
    position: absolute;
    cursor: pointer;
    transition: filter 1s ease;
    z-index: var(--PointersHidden);
}

.circle {
    position: absolute;
    transition: transform 3s ease, opacity 3s ease;
}

.scale {
    transform: scale(10);
}

.fade-opacity {
    opacity: 0;
}

.half-fade {
    opacity: 0.5;
}

.no-click {
    pointer-events: none;
}