:root {
    --dark-gray: #363636;
    --Image: 0;
    --PointerDescHidden: 1;
    --Circles: 2;
    --Text: 3;
    --Pointers: 4;
    --PointerDescVisible: 5;
}

* {
    /* border: 1px solid red; */
}

body,
html {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    user-select: none;
}

#image {
    position: absolute;
    transition: filter 1s ease;
    pointer-events: none;
    z-index: var(--Image);
}

.text {
    color: white;
    font-size: 18px;
    z-index: var(--Text);
    position: fixed;
    width: 100vw;
}

.menus {
    display: flex;
    justify-content: space-between;

    h3 {
        cursor: pointer;
        margin: 30px;
        margin-bottom: 0px;
        font-family: "roboto-slab", serif;
        font-weight: 400;
        font-style: normal;
        transition: opacity 1s ease;
    }
}

.inner-menus {
    display: flex;
    justify-content: space-between;

    h4,
    span {
        font-family: "franklin-gothic-std", serif;
        font-weight: 400;
        font-style: normal;
        opacity: 0.3;
        transition: opacity 0.5s ease;
        margin: 0;
    }

    h4 {
        opacity: 1;
    }

    #personal-h4,
    #i-am-desc-h4 {
        margin: 15px 0;
    }

    #i-am-desc {
        transition: opacity 1s ease;
    }

    #more-menu,
    #about-menu {
        width: 400px;
        margin: 15px 30px;
        opacity: 0;
        transition: opacity 1s ease;
        max-height: fit-content;
        padding: 0 15px;
    }

    #more-menu {
        text-align: right;
        pointer-events: none;
        border-right: 2px solid white;

        span {
            cursor: pointer;
        }
    }

    #about-menu {
        border-left: 2px solid white;
    }
}

.pointer-desc {
    position: absolute;
    max-width: max-content;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: var(--PointerDescHidden);

    h5 {
        color: var(--dark-gray);
        font-family: "franklin-gothic-std", sans-serif;
        font-weight: 400;
    }
    /* screen height of 765.33px === 100vh, so 15px : 1.96vh = 15/765 (approximate for TS) */
}

.pointer {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    transition: opacity 0.5s ease;
    border-radius: 50%;
    background-color: white;
    z-index: var(--Pointers);
}

.circle {
    z-index: var(--Circles);
    opacity: 0;
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.explode-animation {
    animation: explode 4s infinite ease;
}

@keyframes explode {
    0% {
        opacity: 0;
        scale: 1;
    }

    12.5% {
        opacity: 1;
        scale: 1;
    }

    100% {
        opacity: 0;
        scale: 10;
    }
}